@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.side-menu {
  background-color: #292b2f;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 300px;
  height: 100vh;
  border-right: 1px solid #292b2f;
}

.main-content {
  flex: 1;
  background-color: white;
  padding: 0 10% 0 50px;
}

.App {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.separator {
  margin: 20px 0;
  width: 80%;
  height: 1px;
  background-color: gray;
}

.logo-github-container {
  height: 40px;
  margin-bottom: 50px;
}

.logo-github-container img {
  height: 100%;
}

h2 {
  /* color: white; */
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .App .side-menu {
    /* flex-grow: 1; */
    height: auto;
  }
}
