.movies-list {
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
}

.movies-list li {
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  font-size: 15px;
  color: white;
}
.movies-list li:hover {
  background-color: var(--gray);
  cursor: pointer;
}

/* Custom scroll bar */

/* Firefox */
.movies-list {
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}

/* Chrome, Edge and Safari */
.movies-list::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}

.movies-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--black);
}

.movies-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
}

.movies-list::-webkit-scrollbar-thumb:active {
  background-color: var(--black);
}
