.search-bar {
  background-color: blue;
  width: 90%;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 30px;
  border-radius: 25px;

  border: none;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 20px;
}

.search-bar input::placeholder {
  margin-left: 50px;
}

.search-bar .cross-container {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}
